<h3>Nummy recipe results for '<%= params[:search_term] %>'</h3>

<article class="row small-up-3 medium-up-3 large-up-4">

  <% @recipes.each do |recipe| %>
  <section class="column">
    <img src="<%=recipe.image%>" alt="<%=recipe.label%>" ><%= link_to recipe.label, recipe_path(:label => recipe.label, :uri => recipe.uri) %>
  </section>
  <% end %>
</article>
<%= will_paginate @recipes, class: "page-nav row" %>
