
<h3><%= @recipe.label %></h3>

<img src="<%= @recipe.image %>" alt="<%= @recipe.label %>">

<p>
  Ingredients:
  <ul>
    <% @recipe.ingredients.each do |ingredient| %>
      <li>
          <%= ingredient["text"] %>
      </li>
      <% end %>


  </ul>
</p>

<% if @recipe.diet_labels != [] %>
<p>
  Diet Labels:
  <ul>

      <% @recipe.diet_labels.each do |label| %>
      <li>
        <%= label %>
      </li>
      <% end %>
  </ul>
</p>
<% end %>

<p>
  Source: <%= @recipe.source %>
</p>
