<h2>Recipe show page</h2>
<h3><%= @recipe.label %></h3>

<img src="<%= @recipe.image %>" alt="<%= @recipe.label %>">

<p>
  Ingredients:
  <ul>
    <% @recipe.ingredients.each do |ingredient| %>
      <li>
          <%= ingredient["text"] %>
      </li>
      <% end %>


  </ul>
</p>

<p>
  Calories:
  <%= @recipe.calories %>
  <table>


  </table>
</p>

<p>
  <%= link_to "See the original recipe", @recipe.url, target: '_blank' %>
</p>

<p>
  Source: <%= @recipe.source %>
</p>
